@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    background-color: #32283C;
    font-family: "Inter", sans-serif;
    color: #FFF;
}

.container {
    position: fixed;
    bottom: 0;
    width: calc(95%);
    height: calc(90% - 3.5rem);
    padding: 2.5%;
    padding-bottom: 2%;
}