:root, .lightTheme {
    color-scheme: light;

    --primary-topbar-color: #e6e1e8;
    --secondary-topbar-color: #ccccd0;

    --base-hover-background-color: #babac4;
    --base-hover-text-color: #2e2e2e;
    --base-hover-shadow-color: #aeaeae;
    --base-text-color: #323232;
    --base-select-text-color: #100f0f;
    

    --primary-background-color: #fffdf8;
    --secondary-background-color: #ededed;
    --secondary-hover-background-color: #cacbcc;
    --secondary-hover-shadow-color: #d8d9d9;

    --primary-outline-color: #d6d1de;

    --search-background-color: #f9feff;
    --search-border-color: #cfd2d7;
    --search-text-color: #a39c99;

    --primary-cmd-background-color: #dddbdf;
    --secondary-cmd-background-color: #dad8db;
    --cmd-shade-color: #cecccd;
    --cmd-hover-background-color: #d8d3da;
    --cmd-secondary-hover-background-color: #e5e6ea; 
    --cmd-primary-text-color: #4f4c4c;
    --cmd-secondary-text-color: #5b5353;

    --primary-icon-invert: 0.1;
    --secondary-icon-invert: 0.5;
}
.darkTheme {
    color-scheme: dark;

    --primary-topbar-color: #111114;
    --secondary-topbar-color: #1e1d1dcf;

    --base-hover-background-color: #2c2c2f;
    --base-hover-text-color: #ccc9c9;
    --base-hover-shadow-color: #3d3d41;
    --base-text-color: #b0afaf;
    --base-select-text-color: #d1d1d1;

    --primary-background-color: #282827;
    --secondary-background-color: #191819;
    --secondary-hover-background-color: #262627;
    --secondary-hover-shadow-color: #050506;

    --primary-outline-color: #302e33;

    --search-background-color: rgb(40, 37, 38);
    --search-border-color: #37393b;
    --search-text-color: #aba4a1;

    --primary-cmd-background-color: #202020;
    --secondary-cmd-background-color: #202020;
    --cmd-shade-color: #131313;
    --cmd-hover-background-color: #232323;
    --cmd-secondary-hover-background-color: #202020; 
    --cmd-primary-text-color: #808080;
    --cmd-secondary-text-color: #787878;

    --primary-icon-invert: 0.8;
    --secondary-icon-invert: 0.5;
}

body {
    background-color: var(--primary-background-color);
}

.tb {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    background-color: var(--primary-topbar-color);
    top: -5px;
    left: 0px;
    min-height: 65px;
    height: auto;
    border-radius: 0px 0px 15px 15px;
    padding: 5px;
}

.tbButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 50px;
    height: auto;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: var(--secondary-topbar-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 1000;
    line-height: 0;
    color: var(--base-text-color);
    transition-duration: 0.2s;
    user-select: none;
}

.tbButton:hover {
    background-color: var(--base-hover-background-color);
    color: var(--base-hover-text-color);
    cursor: pointer;
    box-shadow: var(--base-hover-shadow-color) 0 0 2px 1px;
}


.left {
    position: absolute;
    right: 10px;
    top: 2px;
    display: flex;
    align-items: center;
    width: auto;
    margin: 5px;
}

.themeSelect {
    width: 30px;
    height: 65px;
    margin-right: 10px;
}

.light, .dark {
    margin: 4.5px auto 0;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: #4c4f55 2px solid;
    filter: opacity(0.83);
    transition-duration: 0.4s;
}

.light:hover, .dark:hover {
    cursor: pointer;
    filter: opacity(1);
}

.light {
    background-color: #e6e6e6;
}
.dark {
    background-color: #101010;
}

.darkTheme .dark {
    box-shadow: 0 0 6px #7f8383; 
}
.lightTheme .light {
    box-shadow: 0 0 6px #313130; 

}

.authButton {
    display: flex;
    flex-flow: column;
    width: auto;
    min-height: 50px;
    height: 2.25em;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #6238b1;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: ghostwhite;
    font-weight: 1000;
    font-size: 20px;
    line-height: 0;
    transition-duration: 0.2s;
    user-select: none;
}

.authButton:hover {
    background-color: #5b34a5;
    color: #e6e6e6;
    cursor: pointer;
}

.authButton > .smol {
    margin-top: -5px;
    font-size: 11px;
}

.userButton {
    /*position: fixed;*/
    display: flex;
    justify-content: center;
    height: 50px;
    top: 12px;
    right: 5px;
    text-align: center;
}

.userPfp {
    margin-left: 5px;
    position: static;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    outline: 2px var(--primary-outline-color) solid;
}

.commands {
    position: fixed;
    bottom: 3px;
    right: 5px;
    left: 5px;
    height: calc(100% - 80px);
    border-radius: 15px;
    background-color: #00000006;
}

.sbContainer {
    position: fixed;
    display: flex;

    flex-flow: column;
    align-items: center;
    left: 10px;
    bottom: 10px;
    height: calc(100% - 91px);
    width: 220px;
    padding: 2px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    overflow-y: auto;
    transition: 0.15s ease-out;
    outline: var(--primary-outline-color) 3px solid;
}

.searchBar {
    width: 100%;
    position: sticky;
    z-index: 5;
    top: 0;
}

#searchBar {
    width: 90%;
    background-color: var(--search-background-color);
    padding: 0 0 3px 3px;
    margin: 9px 0 0 3%;
    border-radius: 10px;    
    font-family: "Winky sans", sans-serif;
    font-size: 1.6em;
    color: var(--search-text-color);
    border: var(--search-border-color) 3px solid;
    transition-duration: 0.2s;
}

#searchBar:focus {
    outline: none;
    box-shadow: var(--base-hover-shadow-color) 0 0 7px; 
}

.sbButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}

.sbLvlContainer {
    width: 100%;
    margin-right: 5px;
}

.sbCmdButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: calc(100% - 10px);
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--primary-cmd-background-color);
    font-family: "Monsterrat", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--base-text-color);
    transition-duration: 0.2s;
}

.sbCmdButton:hover {
    background-color: var(--cmd-hover-background-color);
    color: var(--base-hover-text-color);
    cursor: pointer;
}


.sorting {
    position: sticky;
    display: flex;
    top: -3px;
    border-radius: 6px;
    z-index: 5;
    background-color: var(--cmd-shade-color);
    opacity: 50%;
    padding: 3px;
    transition-duration: 0.2s;
    justify-content: space-between;
}
.sorting:hover {
    opacity: 100%;
}
.categories {
    display: flex;
}

.categorybutton {
    display: flex;
    justify-content: center;
    height: 1em;
    padding: 0.3em;
    background-color: var(--secondary-cmd-background-color);
    border-radius: 5px;
    margin: 0.1em;
    font-family: "Monsterrat", sans-serif;
    font-weight: bold;
    font-size: 1.35em;
    color: var(--cmd-primary-text-color);
    white-space: pre-wrap;
    user-select: none;
    transition-duration: 0.2s;
}
.categorybutton:hover {
    background-color: var(--cmd-hover-background-color);
}

.categorybutton > img {
    height: 1.1em;
    filter: invert(var(--secondary-icon-invert));
}

.categories > .unselected {
    opacity: 50%;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sort > p, .sort > select {
    color: var(--base-text-color);
    font-family: "Monsterrat", sans-serif;
    font-weight: bold;
    font-size: 1.35em;
    margin: 0.1em;
    border: none;
    border-radius: 3px;
}


.cmdMenusContainer {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: calc(100% - 91px);
    width: calc(100% - 250px);
    padding: 2px;
    bottom: 10px;
    right: 8px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    overflow-y: auto;
    transition: 0.15s ease-out;
    outline: var(--primary-outline-color) 3px solid;
}

.cmdMenus {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}

.cmdMenu {
    width: calc(100% - 16px);
}

.cmdShort {
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monsterrat", sans-serif;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--primary-cmd-background-color);
    border-radius: 9px;
    transition-duration: 0.2s;
}

.cmdShort:hover {
    cursor: pointer;
    background-color: var(--cmd-hover-background-color);
}

.cmdShort > h1 {
    font-size: 29px;
    color: var(--base-text-color);
    margin-left: 5px;
}

.cmdShort > p {
    font-size: 25px;
    color: #898989
}

.max {
    box-shadow: 4px 4px 0px var(--cmd-shade-color);
}

.max > p {
    color: var(--base-select-text-color)
}

.max > h1 {
    color: var(--base-select-text-color);
}

.cmdLong {
    position: relative;
    display: column;
    bottom: 10px;
    left: 15px;
    width: calc(100% - 17px);
    padding: 5px;
    height: auto;
    padding-bottom: 5px;
    background-color: var(--secondary-cmd-background-color);
    border-radius: 0px 0px 10px 10px;
    font-family: "Monsterrat", sans-serif;
}

.categoryIcon {
    height: 25px;
    position: absolute;
    margin: 5px 0 0 10px;
    filter: invert(var(--secondary-icon-invert))
}

.cmdLongText {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: -18px;
}

.cmdLongText > h3 {
    font-size: 20px;
    color: var(--cmd-primary-text-color);
    line-height: 110%;
    margin-right: 5px;
}

.cmdLongText > p {
    font-size: 20px;
    color: var(--cmd-secondary-text-color);
    line-height: 110%;
    white-space: pre-wrap;
}

.subCmdsContainer {
    width: calc(100% - 10px);
    min-height: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(27, 27, 27);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
    line-height: 0%;
    font-size: 15px;
    color: #9f9f9f;
}

.subCmds {
    display: flex;
    flex-flow: column;
    width: calc(100% - 10px);
    align-items: center;
    height: auto;
    line-height: 10%;
    font-size: 15px;
    color: #9f9f9f;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.subCmdHeader {
    display: flex;
    justify-content: center;
    width: 100%;
}

.subSubCmds {
    background-color: rgba(19, 19, 19, 0.5);
}

.subCmdsResponse {
    position: relative;
    bottom: 10px;
    color: #6f6f6f;
}

.subCmdsText {
    display: flex;
}

.subCmdsText > h3 {
    color: var(--cmd-primary-text-color);
    font-size: 18px;
    margin-right: 5px;
}

.subCmdsText > p {
    color: var(--cmd-secondary-text-color);
    font-size: 18px;
}

.arrow {
    position: absolute;
    width: 30px;
    left: calc(100% - 40px);
    transform: rotate(90deg);
    user-select: none;
}

.cmdSeperator {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmdSeperator > hr {
    width: calc(100% - 60px);
    height: 5px;
    border-radius: 5px;
    border: 3px solid var(--secondary-hover-background-color);
    color: #252525
}

.cmdSeperator > h1 {
    font-family: "Monsterrat", sans-serif;
    font-size: 30px;
    color: #bebebe;
    margin: 5px;
}

.sbCmdSeperator {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbCmdSeperator > h1 {
    font-family: "Monsterrat", sans-serif;
    font-size: 30px;
    color: #bebebe;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.sbCmdSeperator > hr {
    width: 70%;
    height: 5px;
    border-radius: 5px;
    border: 3px solid var(--secondary-hover-background-color);
    color: #252525
}

.cmdLButton, .sbCmdLButton {
    display: flex;
    width: 80px;
    height: 45px;
    background-color: var(--secondary-background-color);
    border: 3px solid var(--secondary-hover-background-color);
    border-radius: 10px;
    position: absolute;
    font-family: "Monsterrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--base-text-color);
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    user-select: none;
}

.cmdLButton:hover, .sbCmdLButton:hover {
    cursor: pointer;
    background-color: var(--cmd-secondary-hover-background-color);
}

.helpButton {
    position: absolute;
    width: 2.6em;
    height: 2.6em;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 2px var(--search-border-color);
    background-color: var(--primary-background-color);
    text-align: center;
    transition-duration: 0.13s;
}

#helpButtonText {
    margin-top: 0.1em;
    font-size: 30px;
    font-weight: bold;
    color: #a9acb8;
    font-family: "Roboto", "sans-serif";
    user-select: none;
    -webkit-user-select: none;
}

.helpButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 2px 2px var(--search-border-color), var(--secondary-hover-shadow-color) 0 0 5px, var(--secondary-hover-shadow-color) 0 0 5px;
    text-shadow: var(--base-hover-shadow-color) 0 0 3px;
}

.helpPopup {
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.15s;
}
.backgroundBlur {
    position: absolute;
    background-color: #0404045e;
    width: 100%;
    height: 100%;
}

.helpPopupContainer {
    font-size: 1.17em;
    position: relative;
    bottom: 30px;
    z-index: 5;
    opacity: 1;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--primary-background-color);
    border: var(--primary-outline-color) 4px dotted;
    font-family: "Roboto", "sans-serif";
    max-width: 50%;
    max-height: 68%;
    overflow-y: scroll;
    color: var(--base-text-color);
}

.helpPopupClose {
    width: 0.7em;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    right: 0.4em;
    top: 0.2em;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    transition-duration: 0.12s;
}
.helpPopupClose:hover {
    cursor: pointer;
    text-shadow: var(--base-select-text-color) 0 0 2px, var(--base-select-text-color) 0 0 7px;
}

.levelHelp {
    position: relative;
}
.levelHelp > h3, .helpPopupContainer > h3 {
    line-height: 0;
}
.levelHelp > p {
    position: relative;
    bottom: 0.6em;
}
.levelHelp > ol {
    position: relative;
    bottom: 17px;
    margin: 0 0 0 20px;
    padding: 0;
}

.infoIcons > p {
    line-height: 0;
}

.infoIcon {
    width: 30px;
    filter: invert(var(--primary-icon-invert));
    margin: -0.2em 0.3em -0.2em 0;
}

.infoIcon > p > img {
    position: relative;
    top: 7px;
}

.uuh {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 25%;
}