body {
    background-color: #181A1B;
}

.topbar {
    position: fixed;
    width: 100%;
    background-color: #141414;
    top: -5px;
    left: 0px;
    height: 75px;
    border-radius: 1% / 20%;
}

.topbarButtonText {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: darkgrey;
    top: -5px;
}

.authButtonText {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: ghostwhite;
    top: -14px;
}

.authButton {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #6441a5;
    border-radius: 10% / 20%;
    top: 12px;
    right: 5px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 1000;
    display: inline-block;
}
.authButton:hover {
    background-color: #6441a5bd;
    cursor: pointer;
}

.topbarButton {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 10% / 20%;
    border: 2px solid #0d0d0d;
    top: 12px;
    left: 5px;
    background-color: #0e0e0e;
    display: inline-block;
    text-align: center;
}

.topbarButton:hover {
    background-color: #000000;
    cursor: pointer;
}

.commands {
    position: fixed;
    bottom: 3px;
    right: 5px;
    left: 5px;
    height: calc(100% - 80px);
    border-radius: 1%;
    background-color: #181818;
}

.commandSideBar {
    position: fixed;
    left: 5px;
    bottom: 3px;
    height: calc(100% - 83px);
    width: 200px;
    border-radius: 4%;
    background-color: #171717;
    overflow-y: auto;
}

.commandButton {
    top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 5px;
    border-radius: 10% / 30%;
    background-color: #131313;
}

.commandButton:hover {
    background-color: #121212;
    cursor: pointer;
}

.commandButtonText { 
    font-size: 20px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    color: #dddddd;
}

.commandMenu {
    position: absolute;
    left: 210px;
    bottom: 3px;
    height: calc(100% - 7px);
    width: calc(100% - 215px);
    border-radius: 1%;
    background-color: #171717;
    overflow-y: auto;
}

.minimizedCommandMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    margin: 5px;
    width: calc(100% - 5px);
    height: 50px;
    border-radius: 2% / 40%;
    background-color: #131313;
}

.maximizedCommandMenu {
    position: relative;
    justify-content: center;
    top: 5px;
    margin: 5px;
    width: calc(100% - 5px);
    height: 170px;
    border-radius: 3% / 20%;
    background-color: #131313;
}

.minimizedCommandResponse {
    font-size: 20px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    color: #989898;
}

.minimizedCommandCommand {
    font-size: 20px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 600;
    color: #999999;
}

.maximizedCommandResponse {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 20px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    color: #dedede;
}

.maximizedCommandCommand {
    text-align: center;
    font-size: 20px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 600;
    color: #dedede;
}

.minimizedCommandKey {
    font-size: 0px;
}

.maximizedCommandKey {
    text-align: center;
    font-size: 17px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 600;
    color: #aaaaaa;
}

.minimizedCommandValue {
    font-size: 0px;
}

.maximizedCommandValue {
    text-align: center;
    font-size: 17px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    color: #aaaaaa;
}

.anglearrowdown {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 12px;
    left: calc(100% - 50px);
    transform: rotate(0deg)
}

.minimizedCommandMenu:hover {
    background-color: #121212;
    cursor: pointer;
}

.maximizedCommandMenu:hover {
    background-color: #121212;
    cursor: pointer;
}

.uuh {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 1000px;
}

.guh {
    position: fixed;
    top: 200px;
    right: 500px;
    width: 5000px;
    height: 5000px;
}

.userButton {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 50px;
    top: 12px;
    right: 5px;
    text-align: center;
}

.userPfp {
    margin-left: 5px;
    position: static;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}
