:root {
    font-size: 22.5px;
    color: #f8f8f8;
    user-select: none;
    text-transform: uppercase;
}

body {
    position: absolute;
    margin: 0;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    background-color: #121213;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert-container {
    position: fixed;
    display: grid;
    z-index: 100;
}

.alert {
    margin-top: 1rem;
    background: #f8f8f8;
    color: #121213;
    text-transform: none;
    font-size: 0.623rem;
    padding: 0.55rem;
    border-radius: 0.187rem;
    text-align: center;

    animation: fade 0.2s linear 1s 1 forwards
}

.wordle-container {
    height: 100%;
    min-width: 50%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.words {
    max-width: 100%;
    max-height: 100%;
}

.word {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px;
    border: 1px solid #3a3a3c;
    text-align: center;
    margin: 0.14rem;
}

.keyboard-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.keyboard {
    height: 32%;
    display: column;
}

.keyboard-row {
    display: flex;
    margin: 0.1rem;
}

.keyboard-button, .side-button {
    margin: 0.13rem;
    height: 3.14rem;
    width: 0.58rem;
    background-color: #818384;
    border-radius: 8%;
    padding-left: 0.86rem;
    padding-right: 0.86rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-button {
    width: 2rem;
    font-size: 0.7rem;
}

.keyboard-letter {
    font-size: 0.97rem;
}

.half-button-filler {
    width: 1.46rem;
}

.backspace {
    width: 57%;
    filter: invert(1);
}

.wrong {
    background-color: #3a3a3c;
}
.contains {
    background-color: #b59f3b;
}
.right {
    background-color: #538d4e;
}

.filled {
    border: 1px solid #3a3a3c;
    animation: flipup 0.25s linear 0s 1 normal,
                flipdown 0.17s linear 0.25s 1 forwards;
}


.typedLetterAnimation {
    animation-name: type;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
.typedLetter {
    border: #565758 1px solid;
    transform: scale(1.02)
}

.animation-shake {
    animation: shake 0.6s linear 0s 1 normal;
}


@keyframes flipup {
    0% {
        transform: rotateX(0deg);
    };
    100% {
        transform: rotateX(-90deg);
    };
}

@keyframes flipdown {
    0% {
        transform: rotateX(-90deg);
    };
    100% {
        transform: rotateX(0deg);
    };
}

@keyframes type {
    0% {
        opacity: 0; 
        transform: scale(0.8);
    };
    40% {
        opacity: 1;
        transform: scale(1.1);
    };
    100% {
        opacity: 1;
    };
}


@keyframes fade {
    0% {
        opacity: 1;
    };
    100% {
        opacity: 0;
    };
}

@keyframes shake {
    10% {
        transform: translateX(-1px);
    };
    20% {
        transform: translateX(2px);
    };
    30% {
        transform: translateX(-4px);
    };
    40% {
        transform: translateX(4px);
    };
    50% {
        transform: translateX(-4px);
    };
    60% {
        transform: translateX(4px);
    };
    70% {
        transform: translateX(-4px);
    };
    80% {
        transform: translateX(2px);
    };
    90% {
        transform: translateX(-1);
    };
}